@page "/"
@inject NavigationManager _navigationManager

<div class="govuk-grid-column-two-thirds">
    

<div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">

  <h1 class="gem-c-title__text govuk-heading-xl">
    Pay a court fine
  </h1>
</div>
</div>


