@page "/"
@inject NavigationManager _navigationManager

<h1>TV License Fine Project</h1>

Add an FAQ section

<br>
<br>
<p> click here to pay your fine</p>
<button @onclick ="goToFind"> Pay Fine </button>

<br>
<br>
<p> Having trouble? Get in contact with us</p>
<button @onclick ="goToContact"> Contact Us </button>

@code {
    void goToFind(){
        _navigationManager.NavigateTo("/FindMyFine", true);
    }
     void goToContact(){
        _navigationManager.NavigateTo("/contact", true);
    }
}
