@page "/payment"
@using Microsoft.Extensions.Logging
@inject ILogger<Payment> Logger

<h1>Pay your fine here</h1>


<EditForm Model="@paymentModel" OnSubmit="@HandleSubmit">

    <label for="fineID">Fine ID:</label>
    <div class="m-3">
        <InputText id="fineID" @bind-Value="paymentModel.FineID" placeholder="Fine ID" />
    </div>

    <label for="title">Title:</label>
    <div class="m-3">
        <InputText id="title" @bind-Value="paymentModel.Title" placeholder="Title" />
    </div>

    <label for="name">Cardholder Name:</label>
    <div class="m-3">
        <InputText id="name" @bind-Value="paymentModel.Name" placeholder="Cardholder name" />
    </div>

    <label for="date">Date:</label>
    <div class="m-3">
        <InputDate id="date" @bind-Value="paymentModel.Date" />
    </div>

    <label for="cardNum">Card Number:</label>
    <div class="m-3">
        <InputNumber id="name" @bind-Value="paymentModel.CardNum" placeholder="Card number" />
    </div>

    <label for="cvc">CVC:</label>
    <div class="m-3">
        <InputNumber id="cvc" @bind-Value="paymentModel.CVC" placeholder="CVC" />
    </div>


        <button type="submit">Submit</button>

</EditForm>



@code {
    private PaymentModel paymentModel = new();

    private void HandleSubmit()
    {
        Logger.LogInformation("HandleSubmit called");
        Logger.LogInformation("title: " + paymentModel.Title);
        Logger.LogInformation("name: " + paymentModel.Name);
        Logger.LogInformation("Date: " + paymentModel.Date);
        Logger.LogInformation("CardNum: " + paymentModel.CardNum);
        Logger.LogInformation("CVC: " + paymentModel.CVC);
        Logger.LogInformation("FineID: " + paymentModel.FineID);

        // Process the form
    }
}

