@page "/payment"
@using System.Text.Json
@using System.Text
@using System.Text.Json.Serialization
@inject StateContainer StateContainer
@inject IHttpClientFactory ClientFactory
@using Microsoft.Extensions.Logging
@inject ILogger<Payment> Logger

@using Microsoft.Extensions.Logging
@inject ILogger<Payment> Logger

<h1>Pay your fine here</h1>


<EditForm Model="@paymentModel" OnSubmit="@HandleSubmit">

    <label for="fineID">Fine ID:</label>
    <div class="m-3">
        <InputText id="fineID" @bind-Value="paymentModel.FineID" placeholder="Fine ID" />
    </div>

    <label for="title">Title:</label>
    <div class="m-3">
        <InputText id="title" @bind-Value="paymentModel.Title" placeholder="Title" />
    </div>

    <label for="name">Cardholder Name:</label>
    <div class="m-3">
        <InputText id="name" @bind-Value="paymentModel.Name" placeholder="Cardholder name" />
    </div>

    <label for="date">Date:</label>
    <div class="m-3">
        <InputDate id="date" @bind-Value="paymentModel.Date" />
    </div>

    <label for="cardNum">Card Number:</label>
    <div class="m-3">
        <InputNumber id="name" @bind-Value="paymentModel.CardNum" placeholder="Card number" />
    </div>

    <label for="cvc">CVC:</label>
    <div class="m-3">
        <InputNumber id="cvc" @bind-Value="paymentModel.CVC" placeholder="CVC" />
    </div>


        <button @onclick ="PayFineAsync" type="submit">Pay</button>

</EditForm>



@code {

    private PaymentModel paymentModel = new();

    private void HandleSubmit()
    {
        Logger.LogInformation("HandleSubmit called");
        Logger.LogInformation("title: " + paymentModel.Title);
        Logger.LogInformation("name: " + paymentModel.Name);
        Logger.LogInformation("Date: " + paymentModel.Date);
        Logger.LogInformation("CardNum: " + paymentModel.CardNum);
        Logger.LogInformation("CVC: " + paymentModel.CVC);
        Logger.LogInformation("FineID: " + paymentModel.FineID);

        // Process the form
    }
      private void ChangePropertyValue(string Id)
    {
        StateContainer.Property = Id;
    }
    

    private const string webApiUri = "https://fineapi.azurewebsites.net/api/Fines";
    //testing
    // private const string webApiUri = "http://localhost:5108/api/Fines";
    public static Fine newFine;
    
    private bool FineError;
    private bool shouldRender;
    private string? fineID = "";


    protected override bool ShouldRender() => shouldRender;
    
    protected async  Task RetrieveFineAsync()
    {

        
        fineID = StateContainer.testID;
        var request = new HttpRequestMessage(HttpMethod.Get, webApiUri + "/" + fineID);
        request.Headers.Add("Accept", "application/json");
        request.Headers.Add("User-Agent", "HttpClientFactory-Sample");

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);


        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            newFine = await JsonSerializer.DeserializeAsync<Fine>(responseStream);
        }
        else
        {
            FineError = true;
        }

        shouldRender = true;

        
    }

     public async  Task PayFineAsync()
    {

        await RetrieveFineAsync();
     
        newFine.IsPaid = true;

        var request = new HttpRequestMessage(HttpMethod.Put, webApiUri + "/" + fineID);
        request.Headers.Add("Accept", "application/json");
        request.Headers.Add("User-Agent", "HttpClientFactory-Sample");
        var jsonFine = JsonSerializer.Serialize(newFine);
        var content = new StringContent(jsonFine, Encoding.UTF8, "application/json");
        request.Content = content;

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
          
        }
        else
        {
            FineError = true;
        }

        shouldRender = true;
        
    }
    
}


