@page "/FindMyFine"
@using System.Text.Json
@using System.Text
@using System.Text.Json.Serialization
@inject StateContainer StateContainer
@inject IHttpClientFactory ClientFactory



<input class="w-25" placeholder="Please enter your fine reference" @bind="fineID"/>
<button @onclick ="RetrieveFineAsync"> Search </button>

<NavLink class="nav-link" href="payment/">
                <span class="oi oi-dollar" aria-hidden="true"></span> Pay Now
</NavLink>



@code {
      private void ChangePropertyValue(string Id)
    {
        StateContainer.Property = Id;
    }
    

    //production
    private const string webApiUri = "https://fineapi.azurewebsites.net/api/Fines";
    //testing
    // private const string webApiUri = "http://localhost:5108/api/Fines";
    public static Fine newFine;
    
    private bool FineError;
    private bool shouldRender;
    private string? fineID = "";

    protected override bool ShouldRender() => shouldRender;
    
    
    protected async  Task RetrieveFineAsync()
    {

        StateContainer.testID = fineID;
        var request = new HttpRequestMessage(HttpMethod.Get, webApiUri + "/" + fineID);
        request.Headers.Add("Accept", "application/json");
        request.Headers.Add("User-Agent", "HttpClientFactory-Sample");

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);


        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            newFine = await JsonSerializer.DeserializeAsync<Fine>(responseStream);
        }
        else
        {
            FineError = true;
        }

        shouldRender = true;

        //todo, make this a return of a todoItems list, then add that to the post


        //FOR TESTING PURPOSES

        Console.WriteLine(newFine.FineID);
        Console.WriteLine(newFine.FullName);
        Console.WriteLine(newFine.AmountDue);
        Console.WriteLine(newFine.DateIssued);
        Console.WriteLine(newFine.IsPaid);
        
    }
    
}